.wrap {
    display: flex;
    height: 100vh;
    .card {
        width: 400px;
        margin: auto;
        &__field {
            width: 100%;
             
        }
        &__button {
            width: 20px;
            margin: 5px;
            &:last-child { 
                display: block;
                margin: 5px auto;
            }
        }
        &__button-wrap {
          width: 300px;
          float: left;
        }
    }
}
.additional-panel {
    width: 100px;
    float: right;   
    &__button {
        margin: 5px;
    }
}
.hide-pin {
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
}

@media (max-width: 435px) {
    .additional-panel {
        width: 100%;
        float: none;   
        &__button {
            margin: 5px;
        }
    }
    .card__button-wrap {
        width: 100%;
        float: none;
      }
}